small {
    font-size: 1rem;
    font-weight: lighter;
}

h3 {
    font-weight: 300;
}

.issue {
    cursor: pointer;
}

.issue-subinfo {
    font-size: .7rem;
    color: grey;
}

.nav-item {
    cursor: pointer;
}

.avatar {
    width: 35px;
    border-radius: 100%;
}

.label-picker {
    cursor: pointer;
    transition: all .2s;
}

.label-picker:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .5s;
}

.label-active {
    background-color: rgba(255, 255, 255, .5);
}

.loader {
    animation: spin-animation 1.5s infinite linear;
    display: block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(365deg);
    }
}

.ft-radio-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
}

.ft-radio-group__item {
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 1rem;
}
.ft-radio-group__item--active {
    background-color: rgb(68, 167, 134);
    color: white;
}

.ft-radio-group__input {
    visibility: hidden;
    position: absolute;
}
